<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "NinShirt" %></title>
 	<%= render :partial => 'shared/shared_head'%>
	<link rel="stylesheet" href="/stylesheets/prelaunch.css" type="text/css" media="screen, projection">

</head>
<body>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}", :class => 'flash' %>
<% end %>

<div class="main-content">
	<div class="container ">
		<%= yield %>
	</div>
</div>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-3622891-10']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>
</body>
</html>
