<div class="span-8">
  <h3>NinShirt</h3>
  <ul>
    <li>Blog</li>
    <li>FAQ</li>
    <li>Contact</li>
    <li>Join</li>
    <li>Media</li>
  </ul>
</div>
<div class="span-8">
  <h3>Artists</h3>
  <ul>
    <li>Sign up</li>
    <li>How it Works</li>
    <li>Submit Artwork</li>
  </ul>
</div>
<div class="span-8 last">
  <h3>Customers</h3>
  <ul>
    <li>About our Shirts</li>
    <li>Money Back Guarantee</li>
    <li>Privacy Policy</li>
    <li>Tee Shirt Club</li>
    <li>Referrals</li>
  </ul>
</div>