

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<%= render 'form' %>

<% content_for :page_title do %>
  <h1>Register</h1>
<% end %>


<% content_for :head do %>
	<title>NinShirt, Register for free account.</title>
<% end %>