<h1>Shirts</h1>
<%= link_to 'New', new_admin_shirt_path %>
<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @shirts.each do |shirt| %>
			<tr>
				<td><%= link_to 'Edit', edit_admin_shirt_path(shirt) %></td>
				<td><%= shirt.name %></td>
				<td>Manage Sizes</td>
			</tr>
		<% end %>
	</tbody>
</table>