<div class="splashscreen span-24 last"><%= image_tag 'splashscreen.png' %></div>
<div class="span-7 colborder">
	<h2>Featured Shirts</h2>
	<div class="featured-shirt">
		<div class="thumbnail">
			thumb
		</div>
		<div class="text">
			<div class="name">Name</div>
			<div class="description">
				This is a description of a really cool shirt.  I'm not sure what stuff will go here, I just want to make sure that it wraps nicely.
			</div>
		</div>
	</div>
	
	<div class="featured-shirt">
		<div class="thumbnail">
			thumb
		</div>
		<div class="text">
			<div class="name">Name</div>
			<div class="description">
				This is a description of a really cool shirt.  I'm not sure what stuff will go here, I just want to make sure that it wraps nicely.
			</div>
		</div>
	</div>
	
	<div class="featured-shirt">
		<div class="thumbnail">
			thumb
		</div>
		<div class="text">
			<div class="name">Name</div>
			<div class="description">
				This is a description of a really cool shirt.  I'm not sure what stuff will go here, I just want to make sure that it wraps nicely.
			</div>
		</div>
	</div>
	
	<div class="featured-shirt">
		<div class="thumbnail">
			thumb
		</div>
		<div class="text">
			<div class="name">Name</div>
			<div class="description">
				This is a description of a really cool shirt.  I'm not sure what stuff will go here, I just want to make sure that it wraps nicely.
			</div>
		</div>
	</div>
	
</div>
<div class="span-16 last">
	<h2>News</h2>
	<%= render :partial => 'shared/social' %>
</div>
