<div class="prelaunch span-24 last">
	<div class="span-6">
		<div class="logo"><%= image_tag('ninshirt-logo.png', :alt => 'NinShirt is coming soon!') %></div>
	</div>
	<div class="span-18 last">
	  <div class="content">Testing</div>
	</div>
</div>